* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: gray;
}

.container {
  display: grid;
  grid-template-columns: calc(100% - 70%) auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  animation: slideRight .5s linear;
}

.left-container {
  position: relative;
  background-color: bisque;
  height: 100vh;
}

.left-container h1 {
  padding: 3rem;
  margin-top: 4rem;
  font-size: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container {
  display: grid;
  grid-template-areas: "." ".";
}

form {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: gray(250, 219, 181, 0.534);
  border-radius: 10px;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 155px;
  padding: 100px;
  box-shadow: -9px -1px 21px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: -9px -1px 21px 4px rgba(0,0,0,0.55);
  -moz-box-shadow: -9px -1px 21px 4px rgba(0,0,0,0.55);
}

.right-container input, .right-container label {
  color: rgba(0, 0, 0, 0.877);
}

.radio-container {
  background: bisque;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  width: max-content;
}

.radio-container label {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: 0.2s all ease-in-out;
  width: 80px;
}


h3 {
  padding: 40px;
  font-size: 5rem;
  text-align: left;
  margin-top: 10px;
  font-weight: 600;
  color: rgb(255, 209, 153);
}

label {
  margin-bottom: 8px;
}

.mainIco{
  width: 70%;
  transform: translate(-50%); 
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0.8;
}

.secondIco {
  width: 50px;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 38px;
  line-height: 38px;
  padding-left: 5px;
  background-color: bisque;

}

input[type=radio] {
  display: none;
}


.input-wrapper {
  display: flex;
  flex-direction: column;
}

.radio-container input[type=radio]:checked + label {
  background: gray;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

button {
  bottom: 0;
  font-size: 1.8rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: bisque;
  background-color: rgba(0, 0, 0, 0.685);
  height: 40px;
  line-height: 38px;
  margin-top: 28px;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;

  cursor: pointer;
}

.left-container img {
  animation: moveUp .5s normal;
}

@media(max-width: 800px) {
  .container{
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .left-container img{
    display: none;
  }

  .right-container {
    width: auto;
    height: auto;
  }

  .form-container {
    padding: 60px;
    margin-left: 20px;
    margin-right: 20px;
  }

  form {
    margin: 0;
  }

}

@keyframes moveUp {
  from{bottom: -500px;}
  to{bottom: 0;}
}

@keyframes slideRight {              
  0% { opacity: 0; transform: translateX(30px); }                
  100% { opacity: 1; transform: translateX(0);   }
}