* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  font-size: 1.6rem;
  
  background: gray;
}

.container {
  display: grid;
  grid-template-columns: calc(100% - 70%) auto;
  height: 100vh;
  width: 100%;
}

.left-container {
  position: relative;
  background-color: bisque;
}

.left-container h1 {
  padding: 30px;
  margin-top: 55px;
  font-size: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


h3 {
  padding: 10px;
  font-size: 5rem;
  text-align: center;
  margin-top: 60px;
  font-weight: 600;
  color: bisque;
}

.mainIco{
  width: 70%;
  transform: translate(-50%); 
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0.8;
}

.secondIco {
  width: 50px;
}
